.profileData {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 96%;
  margin: 1em auto;
  row-gap: 0.5em;
}

@media (min-width: 768px) {
  .profileData {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
  }
}