.remainContainer {
  box-shadow: 2px 2px 5px rgba(50,50,50,0.2);
  border-radius: 4px;
  background: #C94498;
  padding: 8px;
}
.remainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  padding: 6px 0px;
}

/* #4498C9, #C94498, #98C944 */