.profileContainer {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 2em 1.5em;
}
.expenseContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  /* max-width: 960px; */
  max-width: 100%;
  margin: 2em 1.5em;

}

@media (min-width: 490px) {
  .expenseContainer, .profileContainer {
    max-width: 84%;
    margin: 2em auto;
  }
}

@media (min-width: 768px) {
  .expenseContainer {
    grid-template-columns: 1fr 1fr;
    max-width: 82%;
  }
  .profileContainer {
    max-width: 82%;
  }
}

@media (min-width: 1024px) {
  .expenseContainer {
    grid-gap: 1.5em;
  }
}
@media (min-width: 1200px) {
  .expenseContainer {
    max-width: 76%;
    grid-gap: 2em;
  }
  .profileContainer {
    max-width: 78%;
  }
}

@media (min-width: 1400px) {
  .expenseContainer {
    max-width: 70%;
    grid-gap: 3em;
  }
}